body{
  background-color: white;
  font-family: Arial, Helvatica, sans-serif;
  color: black;
  width: 100px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}

h2{
  color: dark-violet;
  font-size: 60px;

