body {
  margin: 0;
  padding: 5px;
  height: 100vh;
 /* background-image: url("Background/4nml8akk.png");
  backdrop-filter: blur(20px);*/
  background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url('Background/4nml8akk.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}


/*Logo and Icon*/
#toplabel {
  display: flex;
  justify-content: start;
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 1px;
}

/*logo text*/
#label {
  color: antiquewhite;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/*Content Div with all the parent Div(s)*/
.Allcontent{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    gap: 40px; 
  }

/*Parent Div*/
.form-container {
  flex: 1;
  display: flex;
  justify-content: flex-end;

  
}

/*Parent Div*/
.infro-container{
  display: flex;
  align-items: center;
 
  padding: 20px;
 
}
/*Under intro Div*/
.topic{
  margin-top: 0%;
  margin-bottom: 100px;
  font-size: 500%;
  
}



/*Baby Div Under infro-container*/
.intro{
  color: white;
  font-size: 18px;
  line-height: 35px;
  padding: 20px;
  border-radius: 12px;
  backdrop-filter: blur(2px);
  }

  

/*Baby Div under form-container Div*/
#validateForm {
  padding: 25px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  text-align: center;
  backdrop-filter: blur(10px);
  color: white;
}

#validateForm input {
  width: 90%;
  height: 30px;
  background: transparent;
  border-bottom: 1px solid whitesmoke;
  border: none;
  border-bottom: 1px solid white;
  color: white;
  margin-top: 15px;
  font-size: 15px;
  padding: 5px;
}


#validateForm input::placeholder {
  color: rgb(168, 156, 156);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#validateForm .login-button {
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: 1px solid whitesmoke;
  background-color: cadetblue;
  color: #e2dfdf;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
}

#validateForm .login-button:hover {
  border: 2px solid rgb(220, 148, 59);
  background-color: #296d73;
}

/*Under validateForm Div*/
#login-label 
{
  color: rgb(148, 224, 221);
  border: 2px dashed darkslategray;
  border-radius: 20px;
  padding: 5px;
  margin-bottom: 15px;
}

/*Under validataForm Div*/
.login-icon {
  margin-bottom: 10px;
  width: 40px;
  border-radius: 50%;
  border: 3px solid blue;
}
.sign-link{
  color: rgb(196, 196, 219);
  font-weight: bold;
  text-decoration: none;
}