.home_icon{
    width: 70px;
    height: 70px;
}
.header_content{
    display: flex;
    gap: 20px;
}
li{
    list-style-type: none;
}
.report {
    max-width: 500px;
    margin: 30px auto;
    padding: 20px;
    background: #998f8f;
    border: 2px solid rgb(80, 74, 74);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(144, 113, 113);
    height: 100vh;
    
}
label{
    display: block;
    text-align: left;
    margin-bottom: 10px;
    margin-top: 10px;
}
input, textarea,select{
    display: block;
    border-radius: 5px;
}
#Submit_button{
    width: 500px;
    height: 30px;
    border-radius: 10px;
}
    